<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="rabies-styles/problems.pages.css">
	<title>Problems Page</title>
</head>
<body>
<nav></nav>
<h1>Problems With Rabies</h1>
<img src="deathgraph.PNG" width="350" height="250">
<p>This graph shows the death rate in different areas.</p>
<img src="dog.graph.png" width="350" height="250">
<p>This graph shows the situations of where the stray dogs go.</p>
<img src="location.rabies.jpg" width="350" height="250">
<p>This one shows where rabies is located or where it could be.</p>
</body>
</html>