<!DOCTYPE html>
<html>
<head>
	<title>Problems Page</title>
	<link rel="stylesheet" type="text/css" href="rabies-styles/problems.css">
</head>
<body>
<nav></nav>
<h1>Problems With Rabies</h1>
<img class="graphs" src="deathgraph.PNG" width="350" height="250">
<p>This graph shows the death rate in different areas. As shown in the graph, the central area has the most death rates by rabies than the other areas by 2015.</p><br>
<img class="graphs" src="dog.graph.png" width="350" height="250">
<p>This graph shows the situations of where the stray dogs go. </p><br>
<img class="graphs" src="location.rabies.jpg" width="350" height="250">
<p>This one shows where rabies is located or where it could be. </p><br>
</body>
</html>