

h1 {
color: black;
text-align: center;
text-decoration: underline;
background: #8860D0;
}

ol {
	border: solid yellow;
	background: pink;
}

h2 {
color: black;
text-align: center;
text-decoration: underline;
background: #8860D0;
}

body {
		background-color: #84CEEB
}

p {
	border: solid yellow;
	background: pink;
	font-size: 20px;
}

.nav {
	background: pink;
	border: solid yellow;


}

ul {
	border: solid yellow;
	background: pink;
}

#car{
width: 250px;
height: 300px;
}